.body {
  margin: 0;
}

.container {
  border: 1px solid black;
  padding: 0 16px 0 16px;
  box-sizing: border-box;
  width: 768px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: column;
  gap: 24px;
  column-gap: 0px;
  row-gap: 24px;
}

.wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px 16px 10px 16px;
}

.left-icon {
  background: blue;
  width: 35px;
  height: 35px;
  flex-shrink: 0;
  flex-grow: 0;
  margin-right: 16px;
}

div.text {
  font-size: 14px;
  margin-right: 15px;
}

.right-icon {
  background: blue;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  flex-grow: 0;
}