.calculator-container {
  min-width: 270px;
  width: fit-content;
  padding: 16px;
  margin: 16px;
  border: solid 1px gray;
}

.calculation-result-wrapper {
  margin-bottom: 16px;
  border: solid 2px gray;
  padding: 12px;
}

.calculation-result {
  height: 50px;
  width: fit-content;
  line-height: 50px;
  display: block;
  margin-left: auto;

  font-size: 32px;
}

.calculator-keyboard {
  display: grid;
  margin: auto;
  width: fit-content;
  grid-template-columns: 50px 50px 50px 50px 50px;
  grid-template-rows: 50px 50px 50px 50px;
  grid-template-areas:
  "num7 num8 num9 s-i  bs"
  "num4 num5 num6 mul  div"
  "num1 num2 num3 sub  eq"
  "rs   num0 dot  sum  eq";
  grid-gap: 5px;
}

button.pressed {
  background-color: gray;
}

.calculator-keyboard > button {
  padding: 0;
}

.calculator-keyboard > #num7 {
  grid-area: num7;
}

.calculator-keyboard > #num8 {
  grid-area: num8;
}

.calculator-keyboard > #num9 {
  grid-area: num9;
}

.calculator-keyboard > #sign-inverse {
  grid-area: "s-i";
}

.calculator-keyboard > #backspace {
  grid-area: bs;
}

.calculator-keyboard > #num4 {
  grid-area: num4;
}

.calculator-keyboard > #num5 {
  grid-area: num5;
}

.calculator-keyboard > #num6 {
  grid-area: num6;
}

.calculator-keyboard > #mul {
  grid-area: mul;
}

.calculator-keyboard > #div {
  grid-area: div;
}

.calculator-keyboard > #num1 {
  grid-area: num1;
}

.calculator-keyboard > #num2 {
  grid-area: num2;
}

.calculator-keyboard > #num3 {
  grid-area: num3;
}

.calculator-keyboard > #sub {
  grid-area: sub;
}

.calculator-keyboard > #equal {
  grid-area: eq;
}

.calculator-keyboard > #reset {
  grid-area: rs;
}

.calculator-keyboard > #num0 {
  grid-area: num0;
}

.calculator-keyboard > #dot {
  grid-area: dot;
}

.calculator-keyboard > #sum {
  grid-area: sum;
}
